.form-check#check-all-container{
    padding-left: 0;
    margin-bottom: 0px;
}

.form-check-input#check-all{
    float: none;
    margin-left: 0px;
}

#result-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#filter{
    text-align: center;
}

mark{
    background: skyblue;
    color: inherit;
    padding: 0;
}

.link{
    display: flex;
    align-items: center;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.5rem;
}

.link input{
    width: 16px;
    height: 16px;
    margin: 0 0.5rem;
    flex-shrink: 0;
}

.link span{
    margin: 0 0.5rem;
}







@media (max-width: 770px) {
    #result-form{
        justify-content: space-evenly;
    }
}